.default {
    --bg-color: black;
    --font-color: lightslategray;
    --hl-color: orange;
    --fg-color: #292f34;
}

.ocean {
    --bg-color: #dddddd;
    --font-color: #125d98;
    --hl-color: #f5a962;
    --fg-color: #3c8dad;
}


.forest {
    --bg-color: #334443;
    --font-color: #fff8df;
    --hl-color: #c6ffc1;
    --fg-color: #34656d;
}

.rose-milk {
    --bg-color: #ffffff;
    --font-color: #111111;
    --hl-color: #b33838;
    --fg-color: #3b8792;
}

.terminal {
    --bg-color: #000000;
    --font-color: #ffffff;
    --hl-color: #ff0000;
    --fg-color: #00ff00;
}


.red-season {
    --bg-color:#1e1c1c;
    --font-color:#e73535;
    --hl-color: #d4d4d4;
    --fg-color: #593b3e;
}